html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: silver;
  color: navy;
}

.container{
   display: inline-block;
   cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* .change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2{
  opacity: 0;
}


.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
} */



.nav-bar {
    display: inline-block;
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: #818181; /* change to desired color */
}

.nav-bar a {
    text-decoration: none;
    color: navy;
}

.nav-bar .container {
   align-items: center;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 100;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#content{
    transition:margin-left .5s;
    padding: 20px;
}

